body {
    background-color: #CCC;
    font-family: Arial, Helvetica, sans-serif;
}

.character-select input {
    margin: auto;
}

.attributes > div {
    display: flex;
    max-width: 50%;
    margin: auto;
}

.attributes > div:nth-child(1) {
    justify-content: center;
}

.attributes > div:nth-child(2) {
    margin-top: 25px;
    justify-content: space-between;
}

.character-stat {
    display: flex;
    flex-direction: column;
}

.character-stat label {
    color: #333;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.character-stat input {
    font-size: 25px;
    width: 50px;
    padding: 5px;
    text-align: center;
    -moz-appearance: textfield;
    border: none;
}

.character-stat button {
    font-size: 15px;
    background-color: #333;
    color: #FFF;
    border: none;
    padding: 3px;
}

.character-stat button.top {
    border-radius: 5px 5px 0 0;
}

.character-stat button.bottom {
    border-radius: 0 0 5px 5px;
}

.character-stat button:hover {
    background-color: #555;
}

.character-stat button:active {
    background-color: #111;
}

.character-stat input::-webkit-outer-spin-button,
.character-stat input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}